{% extends 'base.html' %}
{% load staticfiles %}
{% block style %}
<style type="text/css">
h1{
	font-size: 24px;font-weight: 700;
}
p{
	font-size: 22px; font-weight: 300;margin-bottom: 20px;
}
</style>
{% endblock %}
{% block content %}
<section style="margin: 40px 0px;">
	<div class="container">
				<h1 class="text-center" style="font-size: 28px;">About</h1>


		<p class="text-center">A simple gesture of thanking someone, sending your best wishes across, or just letting someone know that you're thinking of them always gets better with a gift.<br><br>

			<strong>At Sugar Parrot, our goal is to influence and change the way you do that.</strong><br><br>


			Why send just one gift when you can send a basket full of them? We know that everybody loves a little bit of everything. This is exactly why we offer carefully hand picked, and curated gift hampers for every occasion. We curate, assemble and deliver customized gift bundles. It isn't about just one gift anymore, it's about a basket of little surprises. Little bundles of joy and happiness, packaged and delivered right to the hearts of those you love.<br><br>

			<strong>We're not alone. </strong><br><br>

			We collaborate with other start ups to put together our gift boxes, thereby introducing new products in the market to our customers, and working with like-minded people to get closer to what we're out to achieve <br><br>

			<strong>We believe that the answer lies in going back to our roots.</strong><br><br>

			Our gift boxes are curated with products from the tribal community in Buttayigudem, which not only provides employment opportunities for them, but also gives our customers the luxury of tasting organic foods straight from the farms, in this day and age, when it is more important than ever to grow closer to nature. This is another reason why most of our gift boxes include a plant that your recipient can help nurture and grow; something that will become a part of their homes, and remind them of you; something that will bring them a little more close to nature in their busy lives. We are also working with traditional Indian handicraft artisans, to help keep their art alive, and promote their skills. Replacing foods from chain stores and bakeries, with home made jams, baked goodies, and other edibles is another main focus of our gift boxes.<br><br>

			<strong>Here's to Happy Gifting!</strong> </p>

		</div>
	</section>
	{% endblock content %}