{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="{% static 'css/style.css'%}" rel="stylesheet">


	<style type="text/css">


</style>
</head>

<body>
	<div style="background-color: #F2F2F2;padding: 20px;">
		<img class="center-block" src="https://cdn.discordapp.com/attachments/388950052426743810/388992850433671169/Sugar_Parrot_-_Logo.png" width="250">
	</div>

	<nav class="navbar navbar-toggleable-md navbar-light bg-faded" style="margin-bottom: : 20px;">
		<div class="container">
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar10">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="navbar-collapse collapse" id="navbar10">
				<ul class="navbar-nav nav-fill w-100">
					<li class="nav-item">
						<a class="nav-link" href="/categorie">Cat</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Link</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Link</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Link</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Link</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	{% block content %}

	{% endblock %}

		<footer class="footer" style="margin-top: 30px;">
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<h4 class="title">Contact</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit, libero a molestie consectetur, sapien elit lacinia mi.</p>
					<ul class="social-icon">
						<a href="#" class="social"><i class="fa fa-facebook" aria-hidden="true"></i></a>
						<a href="#" class="social"><i class="fa fa-twitter" aria-hidden="true"></i></a>
						<a href="#" class="social"><i class="fa fa-instagram" aria-hidden="true"></i></a>
						<a href="#" class="social"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
						<a href="#" class="social"><i class="fa fa-google" aria-hidden="true"></i></a>
						<a href="#" class="social"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
					</ul>
				</div>
				<div class="col-sm-3">
					<h4 class="title">Order Now</h4>
					<span class="acount-icon">          
						<a href="#"><i class="fa fa-heart" aria-hidden="true"></i> Wish List</a>
						<a href="#"><i class="fa fa-cart-plus" aria-hidden="true"></i> Cart</a>
						<a href="#"><i class="fa fa-user" aria-hidden="true"></i> Profile</a>
						          
					</span>
				</div>
				<div class="col-sm-3">
					<h4 class="title">Category</h4>
					<div class="category">
						<a href="#">gift</a>
						<a href="#">...</a>
						<a href="#">...</a>
						<a href="#">...</a>
						<a href="#">...</a>     
					</div>
				</div>
				<div class="col-sm-3">
					<h4 class="title">Payment Methods</h4>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
					<ul class="payment">
						<!--li><a href="#"><i class="fa fa-cc-amex" aria-hidden="true"></i></a></li-->
						
					</ul>
				</div>
			</div>
			<hr>

			<div class="container row text-center"> © 2017 SugarParrot</div>
		</div>


	</footer>

	<!-- jQuery first, then Tether, then Bootstrap JS. -->
	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>