{% extends 'base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>SugarParrot</title>
	<meta name="Description" content="Sugar Parrot 💠 🌷Customized / Corporate / Return gifts for every occasion 🌷Uniquely curated and handpicked to perfection. 🌷Best you can find for any age group">

</head>
<body>

	{% block content %}

	<section id="events" style="padding-top: 30px;padding-bottom: 30px">
		<div class="container">
			<h1 class="text-center white-text" style="font-weight: 200;">Categories</h1>
			<hr style="width:40%">

			<div class="card-container">
				{% for categorie in categories %}
				<a href="{{ categorie.slug }}">
					<div class="card-primary" style="background: linear-gradient(rgba(0,0,0,0.6) 30%, rgba(0,0,0,0.6) 10%),url({{ categorie.cat_image_url  }}) no-repeat center center; background-size: cover;">
						<div class="box">
							<div class="event-vertical-center">
								<h1 class="event-card-text">{{ categorie.name }}</h1>
							</div>
						</div>
					</div>
				</a>
				{% endfor %}
			</div>
		</div><!--Container-->
	</section>
	{% endblock %}

</body>
</html>

