{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<section style="margin-top: 20px;">
	<div class="container">
		<div class="hero-unit" style="height:70vh">
			<div class="text-vertical-center">
				<div class="container">
					<h1 class="hero-unit-primary-text">Pre-Curated Boxes</h1>
					<p class="hero-unit-secondary-text"></p>
					<a class="btn-custom" href="/precurated-boxes">More</a>
				</div>
			</div>
		</div>
	</div>
</section>
<section style="margin-top: 20px;">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<div class="hero-unit hero-2" style="height:50vh">
					<div class="text-vertical-center">
						<div class="container">
							<h1 class="hero-unit-primary-text">Souvenirs</h1>
							<p class="hero-unit-secondary-text"></p>
							<a class="btn-custom" href="/souvenirs">More</a>
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-6">
				<div class="hero-unit hero-3" style="height: 50vh">
					<div class="text-vertical-center">
						<div class="container">
							<h1 class="hero-unit-primary-text">Curated Boxes</h1>
							<p class="hero-unit-secondary-text"></p>
							<a class="btn-custom" href="/curated-box">More</a>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>

<section id="events" style="padding-top: 30px;padding-bottom: 30px">
	<div class="container">
		<h1 class="text-center white-text" style="font-weight: 200;">Featured</h1>
		<hr style="width:40%">

		<div class="row">
			{% for item in items %}
			<div class="col-sm-4">
				<a href="/item/{{item.id}}">
					<div class="card-primary" style="background: linear-gradient(rgba(0,0,0,0.6) 30%, rgba(0,0,0,0.6) 10%),url({{ item.image_url }}) no-repeat center center; background-size: cover;">
						<div class="box">
							<div class="event-vertical-center">
								<h1 class="event-card-text">{{ item.name }}</h1>
							</div>
						</div>
					</div>
				</a>
			</div>
			{% endfor %}
		</div>
	</div><!--Container-->
</section>

<section>
	<div class="container">
		<h1 class="text-center white-text" style="font-weight: 200;">Our Philosophy</h1>
		<hr>
		<p class="text-center" style="font-size: 24px;font-weight: 200;">We're trying to redefine gifting. Today, it has become a monotony, an obligation. It's something that you do because you want to, and not because you have to. 


		At Sugar Parrot, we're making every gift an experience, a collection of many good things, packed with what we believe are the most important components : Compassion, and Love.</p>
	</div>
</section>


{% endblock content %}

