{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<section style="margin-top: 20px;">
	<div class="container">
		<section>
			<div class="hero-unit" style="height:50vh">
				<div class="text-vertical-center">
					<div class="container">
						<h1 class="hero-unit-primary-text"></h1>
						<p class="hero-unit-secondary-text"></p>
					</div>
				</div>

			</div>
		</section>
	</div>
</section>

<section id="events" style="padding-top: 30px;padding-bottom: 30px">
	<div class="container">
		<h1 class="text-center white-text" style="font-weight: 200;">What's your pick?</h1>
		<hr style="width:40%">

		<div class="row">
			<div class="col-sm-4">
				<a href="/precurated-boxes">
					<div class="card-primary" style="background: linear-gradient(rgba(0,0,0,0.6) 30%, rgba(0,0,0,0.6) 10%),url(https://cdn.discordapp.com/attachments/388950052426743810/388984939141660672/WhatsApp_Image_2017-12-08_at_4.36.38_PM.jpeg) no-repeat center center; background-size: cover;">
						<div class="box">
							<div class="event-vertical-center">
								<h1 class="event-card-text">Pre-Curated Boxes</h1>
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="col-sm-4">
				<a href="/souvenirs">
					<div class="card-primary" style="background: linear-gradient(rgba(0,0,0,0.6) 30%, rgba(0,0,0,0.6) 10%),url(https://cdn.discordapp.com/attachments/388950052426743810/388984939141660672/WhatsApp_Image_2017-12-08_at_4.36.38_PM.jpeg) no-repeat center center; background-size: cover; ">
						<div class="box">
							<div class="event-vertical-center">
								<h1 class="event-card-text">Souvenirs</h1>
							</div>
						</div>
					</div>
				</a>

			</div>
			<div class="col-sm-4">
				<a href="/curated-box">
					<div class="card-primary" style="background: linear-gradient(rgba(0,0,0,0.6) 30%, rgba(0,0,0,0.6) 10%),url(https://cdn.discordapp.com/attachments/388950052426743810/388950281032826880/IMG_2041.JPG) no-repeat center center; background-size: cover; ">
						<div class="box">
							<div class="event-vertical-center">
								<h1 class="event-card-text">Curated Box</h1>
							</div>
						</div>
					</div>
				</a>
			</div>


			

			

			
		</div>
	</div><!--Container-->
</section>


{% endblock content %}

