{% extends 'base.html' %}
{% load staticfiles %}


{ % block styles % }
{% block content %}
<section>
	<h1 class="text-center white-text" style="font-weight: 200;margin-bottom: 40px;">Featured Products</h1>
	<div class="container">
		<div class="products">
				{% for item in items %}
				
			<div class="product-card">
			<a href="/item/{{item.id}}">
				<div class="product-image">
					<img class="img-fluid" src="{{ item.image_url }}">
				</div>
					</a>
					
				<div class="product-info">
					<h5>Honey and Jaggery</h5>
					<h6>₹400.00</h6>
				</div>
				
			</div>
		
			{% endfor %}

		</div>
	</div>
</section>

{% endblock %}