/*! project specific CSS goes here. */

/* Navbar Center and Custom */





/* navbar Center */

a{
	text-decoration: none; 
}
a:hover {
    color: #014c8c;
    text-decoration: underline; 
}
.hero-unit{
	display: table;
	position: relative;
	width: 100%;
	min-height: 500px;
	height: 100vh;
	background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("https://cdn.discordapp.com/attachments/388950052426743810/388985636285317120/IMG_2730.JPG") center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	overflow: hidden;

}

.text-vertical-center {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	color: #fff;
}
.hero-unit-primary-text{
	text-transform: uppercase;
	font-size: 85px;
	font-weight: 700;
	line-height: 1;
	color: #FFF;
}
.hero-unit-secondary-text{
	font-size: 30px;
	font-weight: 500;
	line-height: 1;
}
.center-block {
	display: block;
	margin-right: auto;
	margin-left: auto;
}
/*
.card-container {
	width: 100%;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap
}
*/
.card-primary {
	box-shadow: 0 1px 4px rgba(0, 0, 0, .04);
	border: 1px solid rgba(0, 0, 0, .09);
	border-radius: 3px;
	color: #555;
	width: 100%;
	height: 150px;
	background: url(https://cdn.discordapp.com/attachments/388950052426743810/388984939141660672/WhatsApp_Image_2017-12-08_at_4.36.38_PM.jpeg) center center no-repeat;
	background-size: cover;
	margin-top: 20px;
}

@media(max-width:768px) {
	.card-primary {
		box-shadow: 0 1px 4px rgba(0, 0, 0, .04);
		border: 1px solid rgba(0, 0, 0, .09);
		border-radius: 3px;
		color: #555;
		width: 100%;
		height: 150px;
		background: url(https://cdn.discordapp.com/attachments/388950052426743810/388984939141660672/WhatsApp_Image_2017-12-08_at_4.36.38_PM.jpeg) center center no-repeat;
		background-size: cover;
		text-align: center;
	}
}

.card-primary:hover {
	z-index: 1;
	border: none;
	box-shadow: 0 8px 50px rgba(0, 0, 0, .2);
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
	-webkit-transition: box-shadow .2s ease, z-index 0s 0s ease, -webkit-transform .2s ease;
	transition: box-shadow .2s ease, z-index 0s 0s ease, -webkit-transform .2s ease;
	transition: box-shadow .2s ease, transform .2s ease, z-index 0s 0s ease;
	transition: box-shadow .2s ease, transform .2s ease, z-index 0s 0s ease, -webkit-transform .2s ease
}

.box {
	display: table;
	width: 100%;
	height: 150px;
	text-align: center;
}

.event-vertical-center {
	display: table-cell;
	vertical-align: middle;
	color: #fff
}

.event-card-text {
	font-weight: 900
}

@media(min-width:768px) {
	.event-center {
		margin-top: 45px
	}
	.event-center-m {
		margin-top: 60px
	}
}
/*Items CSS*/

ol,ul{
	list-style:none;
}
blockquote,q{
	quotes:none;
}
blockquote:before,blockquote:after,
q:before,q:after{
	content:’’;
	content:none;
}

ins{
	text-decoration:none;
}
del{
	text-decoration:line-through;
}

table{
	border-collapse:collapse;
	border-spacing:0;
}


/* Typography */

h1 {
	font-size: 28px;
	font-weight: 300;
	flex: 1;
}

h5 {
	font-weight: 500;
	line-height: 1.7em;
}

h6 {
	color: #666;
	font-size: 14px;
}
/* Product Layout */
.product-filter {
	display: flex;
	padding: 30px 0;
}
.sort {
	display: flex;
	align-self: flex-end;
}

.collection-sort {
	display: flex;
	flex-direction: column;
}

.collection-sort:first-child {
	padding-right: 20px;
}

label {
	color: #666;
	font-size: 10px;
	font-weight: 500;
	line-height: 2em;
	text-transform: uppercase;
}
.products {
	display: flex;
	flex-wrap: wrap;
}
.product-card {
	display: flex;
	flex-direction: column;
	padding: 1%;
	flex: 2 24%;
	background-color: #FFF;
	box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.25);
}
@media ( min-width: 746px ) {
.product-image img {
	width: 100%;
	object-position: center;
}
}
@media ( max-width: 746px ) {
.product-image img {
	width: 100%;

	object-position: center;
}
}

.product-info {
	margin-top: auto;
	padding-top: 20px;
	text-align: center;
}

@media ( max-width: 920px ) {

	.product-card {
		flex: 1 21%;
	}

	.products .product-card:first-child, 
	.products .product-card:nth-child(2) {
		flex: 2 46%;
	}

}

@media ( max-width: 600px ) {
	.product-card {
		flex: 1 46%;
	}
}

@media ( max-width: 480px ) {

	h1 {
		margin-bottom: 20px;
	}

	.product-filter {
		flex-direction: column;
	}

	.sort {
		align-self: flex-start;
	}

}

/*Footer*/
.footer {
	padding: 30px 0 20px 0;
	background-color: #f7f7f7;
	color: #2D3E4F;
}
.footer .title{text-align: center;color:#2D3E4F;font-size:25px;}


.footer .social-icon{padding:0px;margin:0px;}
.footer .social-icon a{display:inline-block;color:#2D3E4F;font-size:32px;padding:5px;}
.footer .acount-icon a{display:block;color:#2D3E4F;font-size:18px;padding:1px;text-decoration:none;}
.footer .acount-icon .fa{margin-right:25px;}

.footer .category a {
	text-decoration: none;
	color: #ffffff;
	display: inline-block;
	padding: 5px 20px;
	margin: 1px;
	border-radius:4px;
	margin-top: 6px;
	background-color: black;
	border: solid 1px #fff;
}

.footer .payment{margin:0px;padding:0px;list-style-type:none}
.footer .payment li{list-style-type:none}
.footer .payment li a {
	text-decoration: none;
	display: inline-block;
	color: #2D3E4F;
	float: left;
	font-size: 25px;
	padding: 10px 10px;
}
